body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:650px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2994 {
  position:absolute;
  left:91px;
  top:157px;
  width:376px;
  height:650px;
}
#u2995 {
  position:absolute;
  left:2px;
  top:317px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2997 {
  position:absolute;
  left:91px;
  top:762px;
  width:376px;
  height:45px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2998 {
  position:absolute;
  left:2px;
  top:14px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u2999 {
  position:absolute;
  left:218px;
  top:775px;
  width:1px;
  height:22px;
}
#u3000 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u3001 {
  position:absolute;
  left:344px;
  top:775px;
  width:1px;
  height:22px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:5px;
}
#u3003 {
  position:absolute;
  left:342px;
  top:802px;
  width:125px;
  height:5px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
#u3004 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#5E5E5E;
}
#u3005 {
  position:absolute;
  left:122px;
  top:767px;
  width:76px;
  height:31px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#5E5E5E;
}
#u3006 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u3007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#5E5E5E;
}
#u3007 {
  position:absolute;
  left:247px;
  top:770px;
  width:105px;
  height:31px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#5E5E5E;
}
#u3008 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u3009 {
  position:absolute;
  left:381px;
  top:769px;
  width:101px;
  height:31px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u3010 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u3011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3012 {
  position:absolute;
  left:91px;
  top:126px;
  width:376px;
  height:42px;
}
#u3013 {
  position:absolute;
  left:2px;
  top:13px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3015 {
  position:absolute;
  left:379px;
  top:140px;
  width:17px;
  height:15px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3017 {
  position:absolute;
  left:395px;
  top:140px;
  width:9px;
  height:15px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3019 {
  position:absolute;
  left:403px;
  top:143px;
  width:4px;
  height:7px;
}
#u3020 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3021 {
  position:absolute;
  left:413px;
  top:138px;
  width:63px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3022 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u3023 {
  position:absolute;
  left:165px;
  top:139px;
  width:26px;
  height:15px;
  color:#FFFFFF;
}
#u3024 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u3025 {
  position:absolute;
  left:200px;
  top:137px;
  width:27px;
  height:19px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3027 {
  position:absolute;
  left:101px;
  top:140px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u3028 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u3029 {
  position:absolute;
  left:247px;
  top:178px;
  width:51px;
  height:29px;
  font-size:25px;
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u3031 {
  position:absolute;
  left:99px;
  top:217px;
  width:358px;
  height:1px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3033 {
  position:absolute;
  left:99px;
  top:228px;
  width:358px;
  height:405px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:194px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u3035 {
  position:absolute;
  left:107px;
  top:278px;
  width:343px;
  height:1px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u3037 {
  position:absolute;
  left:107px;
  top:485px;
  width:343px;
  height:1px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u3039 {
  position:absolute;
  left:107px;
  top:434px;
  width:343px;
  height:1px;
}
#u3040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u3041 {
  position:absolute;
  left:107px;
  top:381px;
  width:343px;
  height:1px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u3043 {
  position:absolute;
  left:108px;
  top:328px;
  width:343px;
  height:1px;
}
#u3044 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3045 {
  position:absolute;
  left:112px;
  top:245px;
  width:59px;
  height:23px;
  font-size:20px;
}
#u3046 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u3047 {
  position:absolute;
  left:425px;
  top:242px;
  width:22px;
  height:25px;
  color:#666666;
}
#u3048 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3049 {
  position:absolute;
  left:358px;
  top:247px;
  width:59px;
  height:18px;
}
#u3050 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3051 {
  position:absolute;
  left:111px;
  top:295px;
  width:59px;
  height:23px;
  font-size:20px;
}
#u3052 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u3053 {
  position:absolute;
  left:427px;
  top:291px;
  width:22px;
  height:25px;
  color:#666666;
}
#u3054 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3055 {
  position:absolute;
  left:359px;
  top:300px;
  width:59px;
  height:18px;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3057 {
  position:absolute;
  left:111px;
  top:346px;
  width:151px;
  height:23px;
  font-size:20px;
}
#u3058 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u3059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3059 {
  position:absolute;
  left:359px;
  top:351px;
  width:59px;
  height:18px;
}
#u3060 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u3061 {
  position:absolute;
  left:426px;
  top:347px;
  width:22px;
  height:25px;
  color:#666666;
}
#u3062 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3063 {
  position:absolute;
  left:110px;
  top:397px;
  width:180px;
  height:23px;
  font-size:20px;
}
#u3064 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3065 {
  position:absolute;
  left:359px;
  top:400px;
  width:59px;
  height:18px;
}
#u3066 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u3067 {
  position:absolute;
  left:428px;
  top:395px;
  width:22px;
  height:25px;
  color:#666666;
}
#u3068 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3069 {
  position:absolute;
  left:112px;
  top:452px;
  width:180px;
  height:23px;
  font-size:20px;
}
#u3070 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3071 {
  position:absolute;
  left:358px;
  top:456px;
  width:59px;
  height:18px;
}
#u3072 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u3073 {
  position:absolute;
  left:427px;
  top:452px;
  width:22px;
  height:25px;
  color:#666666;
}
#u3074 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3075 {
  position:absolute;
  left:110px;
  top:500px;
  width:180px;
  height:23px;
  font-size:20px;
}
#u3076 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3077 {
  position:absolute;
  left:359px;
  top:505px;
  width:59px;
  height:18px;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u3079 {
  position:absolute;
  left:427px;
  top:498px;
  width:22px;
  height:25px;
  color:#666666;
}
#u3080 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3081 {
  position:absolute;
  left:112px;
  top:546px;
  width:180px;
  height:23px;
  font-size:20px;
}
#u3082 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u3083 {
  position:absolute;
  left:427px;
  top:544px;
  width:22px;
  height:25px;
  color:#666666;
}
#u3084 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u3085 {
  position:absolute;
  left:106px;
  top:535px;
  width:343px;
  height:1px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u3087 {
  position:absolute;
  left:106px;
  top:586px;
  width:343px;
  height:1px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3089 {
  position:absolute;
  left:112px;
  top:602px;
  width:180px;
  height:23px;
  font-size:20px;
}
#u3090 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
